body {
  margin: 0px;
  min-height: 100vh;
  background: #2C2B3D;
}

#page {
  width: 1280px;
  margin: 0px auto;
  padding-top: 15px;
}

header {
  margin-left: 80px;
  margin-right: 80px;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  font-size: 14px;
  line-height: 28px;
}

ul , a {
  color: #FFFFFF;
  text-decoration: none;
}

ul a:hover {
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  gap: 110px;
  margin: 100px 80px 180px 80px;
}

h1 {
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}

span {
  color: #00BFA6;
}

p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
}

#line {
  display: flex;
  align-items: center;
  margin: 157px auto 30px;
  border: 1px solid #00BFA6;
  width: 568px;
  height: 0px;
}

#rodape {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

#insta:hover {
  font-weight: bold;
}

#cadeado {
  position: fixed;
  left: 60px;
  bottom: 25px;
}
